* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    background-color: yellow;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: Red;
}

.main-heading {
    margin-bottom: 20px;
}

button {
    display: inline-block;
    background: grey;
    color: rgb(250, 246, 246);
    font-size: 18px;
    font-weight: normal;
    text-align: center;
    border-radius: 3px;
    transition: 400ms;
    text-decoration: none;
    padding: 5px;
    z-index: 100000;
}